<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">article</a></li>
          <li><a href="/admin/add-article">Add Article</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="form" action="/admin/add-article" method="POST">
        <textarea
          class="mainArticle"
          name="article"
          id="article"
          cols="30"
          rows="10"
        ></textarea>
        <input class="title" type="text" name="title" id="title" />
        <button type="submit">Add article</button>
      </form>
    </main>
  </body>
</html>
