<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">article</a></li>
          <li class="main-header__item">
            <a href="/admin/add-article">Add Article</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My articles</h1>
      <p>added article comes here</p>
    </main>
  </body>
</html>
